.canvas-fluid,
.iframe-fluid {
    width: 100% !important;
}

.count-item {
    background-color: #eee;
    text-align: center;
    height: 145px;
    font-size: 70px;
    font-weight: bold;
    padding-top: 20px;
    position: relative;
}

.count-item-1 {
    margin-bottom: 20px;
}

.count-item:before {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
}

#last-counts:before {
    content: "Total number of orders";
}

#last-values:before {
    content: "Gross total of orders (HUF)";
}